body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fen%2Fsearch%3Fq%3Dnetflix&psig=AOvVaw1AmR7mqZS99P28u0NqH1av&ust=1702059838510000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJDvzZP5_YIDFQAAAAAdAAAAABAI{
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    cursor: pointer;
}

.hero {
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fen%2Fsearch%3Fq%3Dnetflix&psig=AOvVaw1AmR7mqZS99P28u0NqH1av&ust=1702059838510000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJDvzZP5_YIDFQAAAAAdAAAAABAI') center/cover no-repeat;
    color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
